name: Go

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2

    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version: 1.17

    - name: Build
      run: go build -v ./...

    - name: Test
      run: go test -v ./...
      
    - name: Login ghcr.io
      run: docker login ghcr.io -u ${{ secrets.GHCR_USERNAME }} -p ${{ secrets.GHCR_PASSWD }}
      
    - name: Build for container image
      run: docker build -t ghcr.io/yunhorn/dingtalk-watchdog:v0.1.0 .
      
    - name: Push for container image
      run: docker push ghcr.io/yunhorn/dingtalk-watchdog:v0.1.0
